.fraction-slider{
	position:relative;
	width:100%; height:100%;
	overflow:visible;
}

.fraction-slider .slide{
	display:none; width:100%; height:100%;
	position:absolute;
	z-index:5000;
}

.fraction-slider .active-slide{
	z-index:9999;
}

.fraction-slider .fs_obj{
	display:block; display:none;
	position:absolute;
	top:0px; left:100%;
	z-index:7000;
}

.fraction-slider .fs_fixed_obj{
	z-index:6000;
	left:0;
}

.fraction-slider .fs_obj *{
	display:inline-block;
	position:relative;
	top:0px; left:0px;
}

.fs_loader{
	width:100%; height:400px;
	/*background:url(images/fs.spinner.gif) center center no-repeat transparent;*/
}

/** CONTROLS **/

.fraction-slider .prev,
.fraction-slider .next{
	display:none;
	position:absolute;
	width:50px; height:98px;
	z-index:9999;
}

.fraction-slider .prev{
	left:10px; top:45%;
	background:url(../images/icons/Left-small.png) 0px 0px no-repeat ;
	background-size: 50px 98px;

}
.fraction-slider .prev:hover{
	background:url(../images/icons/Left-small.png) 0px  no-repeat ;
	background-size: 50px 98px;
	display:block !important;;
}

.fraction-slider .next{
	right:10px; top:185px;
	background:url(../images/icons/right-small.png) 0px 0px no-repeat ;
	background-size: 50px 98px;
}
.fraction-slider .next:hover{
	background:url(../images/icons/right-small.png) 0px no-repeat ;
	background-size: 50px 98px;
	display:block !important;;
}

.fraction-slider:hover .prev,
.fraction-slider:hover .next {
	display: block !important;
}
.slider:hover .prev,
.slider:hover .next {
	display: block !important;
}


.fs-pager-wrapper{
	bottom: 10px;
	margin: auto 40%;
	position: absolute;
	text-align: center;
	width: 300px;
	z-index: 9999;
}

.fs-pager-wrapper a{
	display:inline-block;
	width:14px; height:14px;
	margin:0 5px 0 0;
	background:url(../images/icons/fs.pager.png) 0px -14px no-repeat transparent;
}
.fs-pager-wrapper .active{
	background:url(../images/icons/fs.pager.png) 0px 0px no-repeat transparent;
}