/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');


body {
    width: 100%;
    height: 100%;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    color: #573b0c;
    background-color: #fff;
    padding:0;
    margin:0;

    background-position: center top;
    background-repeat: repeat;
}

html {
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;;
}

header {
    width:100%;
    height:145px;
    color:#030334;
    background: url('../images/banner/top-bg.jpg') no-repeat;
    background-size:100%
}
.left-section{
    width:52%;
    float:left;
    padding:10px 10px 10px 25px;
    font-size: 38px;
    font-weight: 600;
}
.bottom-section{
    background: #ecab14 none repeat scroll 0 0;
    height: 55px;
    width: 100%;
    clear:both;
}
.right-sec{
    float:right;
}
.navi-sec{
    width:40%;
    margin: 0 auto
;
}
.company-name{
    margin-top:16px;
}
.logo{


    float:left;
    margin-right: 10px;
    width: 188px;
}
.slogan{
    color:#f0ad12;
    font-size:28px;
    font-weight: 600;
}
.proj-img{

    height:184px;
}
/*slider section*/
.slider {
    position: relative;
    width: 100%;
    height: 505px;
    z-index:-1;
}
.cont_in1 {
    background: url(../images/banner/banner-5.jpg) no-repeat top center;
    width: 100%;
    height: auto;
    z-index: -1;
    text-decoration: none;
    background-size: cover;
}

.cont_in2 {
    background: url(../images/banner/banner-03.jpg) no-repeat top center;
    width: 100%;
    height: auto;
    z-index: -1;
    text-decoration: none;
    background-size: cover;
}
.cont_in3 {
    background: url(../images/banner/slide1_b43.jpg) no-repeat top center;
    width: 100%;
    height: auto;
    z-index: -1;
    text-decoration: none;
    background-size: cover;
}
.cont_in4 {
    background: url(../images/banner/banner-bg3.jpg) no-repeat top center;
    width: 100%;
    height: auto;
    z-index: -1;
    text-decoration: none;
    background-size: cover;
}
.slide-text{
    font-size: 45px;
    color:#ecab14;
    font-weight:400;
}
.slide-text2{
    font-size: 60px;
    color: #4a0d03;
    font-weight:400;
}
.spacer{
    height:20px;
    width:100%;
}


/*service section*/
.services h2{
    text-align: center;
    color:#ecab14;
    font-weight: 300;
    font-size:2.30769em
}
.right{
    width:56%;
    float:right;
}

.left-sec{
    width:40%;
    padding:10px;
    float: left;
}
.center{
    text-align: center !important;
    margin-bottom: 20px;

    font-weight: 400;
    line-height: 1.69231;

}
.bullet{
    margin-bottom: 20px;
    text-align: justify;
    font-weight: 400;
    line-height: 1.69231;
}
.widget-content p{
    margin-bottom:0px;
    text-align: justify;
    font-weight: 400;
    line-height: 12px;
}
p{
    margin-bottom: 20px;
    text-align: justify;
    font-weight: 400;
    line-height: 1.69231;
}
.golden{
  color:#ecab14 !important;
}
.left-sec p{
    font: 15px/25px;
    font-weight: 400;
    color: #573b0c;
    line-height: 1.69231;
}
.more-btn{
    background: #ecab14 ;
    color: #573b0c;
    height: 22px;
    padding: 10px;
    text-align: center;
    width: 100px;
    font-weight: 500;
    cursor:pointer;
}
.more-btn a{
    text-decoration: none;
    color: #573b0c;
}

.clear{
    clear:both;
}
/*project section*/
.proj-wrapper{
    width:80%;
    height:auto;
    margin: 0 auto;
    padding-top:40px;
    padding-bottom: 20px;

}
.proj-wrapper h2{
    color:#030334;
    text-align: center;
    font-weight: 300;
    font-size:2.30769em
}
.slidecarousel .slide{
    text-align: center;
}
.abt-proj{
    text-align: center;
    font-size:14px;
    font-weight: 400;
    color:#573b0c;
}
.img-gall{
    width:100%
}
.project .proj-sec{
    height: 342px;
}
.proj-sec{
    width:100%;

    margin: 0 auto;
background: url("../images/bg2.jpg") no-repeat;
    background-size: 100% 100%;
}
.proj-description{
    width:32%;
    height:200px;
    float:left;


}
/*footer section*/
footer{
    width:100%;
    background: #ecab14;

}
.foo-sec{
    width:80%;
    margin: 0 auto;
}
.widget{
    color: #030334;
    height: 122px;
    padding: 70px 0 80px;
}
.widget-content{
    font-weight: 400;

    text-align: justify;
}
.widget-area{
    width:21%;
    float:left;
    margin:20px
}

.widget-title{
    font-size:20px;
    font-weight: 400;
    margin-bottom:15px;
}

/*about us*/

.banner{
    width:100%;
    height:100%;
}
/*upcoming projects*/
.completed .left-gall{
    width:40%;
}
.left-gall{
    width:51%;
    float:left;
}
.left-section2 .widget-title{
    margin-left: 28px;
}
.right-section2 .widget-title{
    margin-left: 28px;
}
.left-section2{
    width:44.5%;
    float:left;
}

.right-section2{
    width:42.5%;
    float:right;
}
.completed .right-gall{
    width:40%;
}
.right-gall{
    width:46.5%;
   float: right;
}

.view {
    width: 93%;

    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/gallery/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 18px;
    position: relative;
    color: #fff;
    padding: 10px -1px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view-eighth .mask {
    background-color: rgba(255, 255, 255, 0.7);
    top: -200px;
    opacity: 0;
    transition: all 0.3s ease-out 0.5s;
}
.view-eighth h2{
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out 0.1s;
}
.view-eighth p {
    color: #333;
    transform: translateY(-200px);
    transition: all 0.2s ease-in-out 0.2s;
}
.view-eighth a.info {
    transform: translateY(-200px);
    transition:  all 0.2s ease-in-out 0.3s;
}

.view-eighth:hover .mask {
    opacity: 1;
    top: 0px;
    transition-delay: 0s;
    animation: bounceY 0.9s linear;
}
.view-eighth:hover h2 {
    transform: translateY(0px);
    transition-delay: 0.4s;
}
.view-eighth:hover p {
    transform: translateY(0px);
    transition-delay: 0.2s;
}
.view-eighth:hover a.info {
    transform: translateY(0px);
    transition-delay: 0s;
}

@keyframes bounceY {
    0% { transform: translateY(-205px);}
    40% { transform: translateY(-100px);}
    65% { transform: translateY(-52px);}
    82% { transform: translateY(-25px);}
    92% { transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}

/*contact-us*/

.contact-title{
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
}

.contact-area{
    font-weight: 400;
    margin-bottom: 20px;
    text-align: justify;
    float:left;
    margin:0 0px 25px 15px
}
.contact-area p{
    line-height: 12px;
    margin-bottom: 0px;
}
.row{
    clear: both;

}
.left{
    float: left;
    width:110px;
}
.highlight{
    font-size:20px
}