<div class="foo-sec">
    <div class="widget">
        <div class="widget-area">
            <div class="widget-title">ADDRESS</div>
            <div class="widget-content">
                <p>Pandit Sadan House- 3, </p><p>Plot No 0360/03 </p><p> Sector - 20,</p> <p>Nerul, Navi Mumbai - 400706</p><p>Maharashtra, India</p>
            </div>
        </div>
        <div class="widget-area">
            <div class="widget-title">LANDLINE PHONE</div>
            <div class="widget-content">
                +91-22-27707861
            </div>
        </div>
        <div class="widget-area">
            <div class="widget-title">MOBILE</div>
            <div class="widget-content">
                +91-9699929975

            </div>
        </div>
        <div class="widget-area">
            <div class="widget-title">E-MAIL</div>
            <div class="widget-content">
                jkbuildersdevelopers@gmail.com
            </div>
        </div>
    </div>
</div>