<link href="css/flexnav.css" rel="stylesheet" type="text/css" / >
<link href="css/jquery.share.css" rel="stylesheet" type="text/css" / >
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.share.js"></script>
<script type="text/javascript" src="js/flexnav.js"></script>
<script>

    $(document).ready(function() {
        $(".flexnav").flexNav({ 'animationSpeed' : 'fast' });

        $('#social').share({
            networks: ['facebook','pinterest','googleplus','twitter']
        });

    });


</script>

<div class="left-section">
    <div class="logo">
        <img src="images/jklogo.png" width="184px" height="90px">
    </div>
    <div class="company-name">
        JK Builders & Developers
    </div>
    <div class="slogan">
        Smart Living Construction
    </div>
</div>
<div class="right-sec">
    <div id="social"></div>
</div>
<div class="bottom-section">
    <div class="navi-sec">
        <nav>
            <ul class="flexnav" data-breakpoint="800">
                <li><a href="index.html">Home</a></li>
                <li><a href="aboutus.html"> About</a></li>
                <li><a href="#">Projects</a>
                    <ul>
                        <li> <a href="completed-projects.html">Ready Projects</a></li>
                        <li><a href="upcoming-projects.html">Upcoming Projects</a></li>
                    </ul>
                </li>
                <li><a href="contactus.html">Contact us</a></li>
            </ul>
        </nav>
    </div>
</div>